name: HorusecTest
on:
  workflow_dispatch:
  
jobs:
  deploy-sast:
    runs-on: ubuntu-latest
    steps:
      - name: Rodando o Horusec
        run: |
          git clone https://github.com/crypto-br/SecPipelineDemo.git
          cd SecPipelineDemo/
          wget https://raw.githubusercontent.com/ZupIT/horusec/main/deployments/scripts/install.sh
          ls -la
          chmod +x install.sh
          ./install.sh
          

        
